DATABASE_URL

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY
CLERK_SECRET_KEY

NEXT_PUBLIC_CLERK_SIGN_IN_URL
NEXT_PUBLIC_CLERK_SIGN_UP_URL
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY
STRIPE_SECRET_KEY

NEXT_PUBLIC_NOTION_MAIN_OAUTH_AUTHORIZATION_URL

RESEND_API_KEY

AWS_ACCESS_KEY_ID
AWS_ACCESS_KEY_SECRET

NEXT_PUBLIC_OPENAI_API_TOKEN