@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --accent: 210 40% 96.1%;
  --accent-foreground: ;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --ring: 215 20.2% 65.1%;

  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-supercuan-secondary text-supercuan-primary selection:bg-supercuan-primary selection:text-supercuan-secondary;
  }
}

body {
  scrollbar-gutter: stable;
  font-feature-settings:
    'rlig' 1,
    'calt' 1;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #fefff7;
}

::-webkit-scrollbar-thumb {
  background: #1f365f;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #fefff7;
}

.loading-animation {
  animation: loadingAnimation 1.25s ease-in-out infinite;
}

@keyframes loadingAnimation {
  0% {
    transform: translateY(0);
  }
  12.5% {
    transform: translateY(10px);
  }
  25% {
    transform: translateY(5px);
  }
  37.5% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  62.5% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(-5px);
  }
  87.5% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}
